/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

/* Body */
.page {
  font-variation-settings: "wght" var(--text-font-weight);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--text-color);
  background-color: var(--page-background-color, #ffffff);
  background-image: var(--page-background-image, none);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

/* Main */
.main {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

/* Header */
.header {
  font-family: var(--fantasy-font-family);
  text-align: center;
  margin: 100px 0;
  padding: 136px 0 23px;
  background: var(--header-background);
  border: 2px solid var(--stroke-color);
}

.header__link {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
  outline: none;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  margin: 20px 0 25px;
}

/* меню */
.theme-menu__list {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: min-content;
  text-align: start;
  margin: 0 45.1%;
}

.theme-menu__item {
  position: relative;
}

.theme-menu__button {
  padding: 0;
  text-transform: uppercase;
  background: none;
  border: none;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -15px;
  top: 0;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--text-color);
  opacity: 0.6;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
/* в макете почему то дублируется тень оставил 1 
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 
0px 4px 4px rgba(0, 0, 0, 0.25);*/
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: translateX(0);
}

/* Buttons */
.button {
  font-family: var(--fantasy-font-family);
  font-size: 14px;
  position: relative;
  overflow: hidden;
  color: var(--mix-blend-color);
  background: none;
  border: 2px solid var(--stroke-color);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--text-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--text-color);
}

.button__text {
  color: var(--mix-blend-color);
  mix-blend-mode: difference;
}

.save-button {
  padding: 15px 20px;
  margin: 0 auto 103px;
  display: flex;
  gap: 8px;
  align-items: center;
  background: var(--page-background-color);
}

.ok-button {
  text-transform: uppercase;
  width: 100%;
  padding: 10px 0;
  background: var(--page-background-color);
}

/* SVG */
.like-icon {
  width: inherit;
  height: inherit;
  fill: var(--text-color);
  position: relative;
  z-index: 1;
}

.floppy-image {
  width: 21px;
  height: 21px;
  mix-blend-mode: difference;
}

/* секции */
.section {
  display: inherit;
  flex-direction: inherit;
  gap: inherit;
}

/* карточки */
.card {
  border: 2px solid var(--stroke-color);
  background: var(--header-background);
}

.card__title {
  font-size: 18px;
  font-variation-settings: "wght" var(--title-font-weight);
  padding: 4px 10px;
}

.card__image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.card__image-container {
  overflow: hidden;
  position: relative;
  border-top: 2px solid var(--stroke-color);
  border-bottom: 2px solid var(--stroke-color);
}

.image-label {
  font-family: var(--fantasy-font-family);
  font-size: 14px;
  z-index: 1;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 var(--label-stroke-color), 0 1px var(--label-stroke-color),
  1px 0 var(--label-stroke-color), 0 -1px var(--label-stroke-color);
  position: absolute;
  right: 25px;
  top: 27px;
  text-transform: uppercase;
  font-weight: var(--text-font-weight-lihgt);
}

.image-label-lowercase {
  text-transform: lowercase;
}

.card__text-container {
  padding: 26px 25px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  font-variation-settings: "wght" var(--text-font-weight);
}

.card__icon-button {
  padding: 0;
  width: 39px;
  height: 34px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--stroke-color);
}

.card__like-button {
  width: 130px;
  padding: 10px 0;
}

.card__like-button-container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
  padding: 0 25px 23px 25px;
}

/* фильтры картинок */
.grayscale {
  filter: grayscale(50%);
}

.saturate {
  filter: saturate(360%);
}

.hue-rotate {
  filter: hue-rotate(30deg);
}

.invert {
  filter: invert(80%);
}

.sepia {
  filter: sepia(80%);
}

.blur {
  filter: blur(20px);
}

.multi-filter {
  filter: saturate(250%) hue-rotate(90deg) grayscale(20%) invert(25%) blur(2px);
}

/* модальное окно */
.dialog {
  font-family: var(--fantasy-font-family);
  font-size: 14px;
  padding: 30px 26px;
  color: var(--text-color);
  background: var(--page-background-color);
  border: 2px solid var(--stroke-color);
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog:not([open]) {
  display: none;
  opacity: 0;
  pointer-events: none;
}

.dialog__container {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.dialog__text-container {
  display: flex;
  gap: 22px;
  align-items: center;
}


.dialog__text {
  text-transform: uppercase;
  line-height: 1.5;
  max-width: 234px;
  width: 100%;
}

.dialog .floppy-image {
  width: 39px;
  height: 39px;
  mix-blend-mode: normal;
}

/* медиазапросы */
@media (width < 376px) {
  .header {
    padding: 120px 0 25px;
  }

  .theme-menu__list {
    margin: 0 41.1%;
  }

  .card__text-container {
    padding: 25px 28px 25px;
    gap: 27px;
    font-weight: 400;
font-size: 18px;
line-height: 117%;
  }

  .save-button {
    block-size: 84px;
    flex-direction: column;
    justify-content: center;
  }

  .dialog__container {
    gap: 28px;
  }

  .floppy-image {
    width: 29px;
    height: 28px;
  }

  .image-label {
    right: 10px;
    top: 24px;
  }

  .dialog {
    padding: 30px 42px;
  }
}

/* поддержка */
@supports (text-stroke: 1px var(--label-stroke-color)) or
  (-webkit-text-stroke: 1px var(--label-stroke-color)) {
  .image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--label-stroke-color);
    text-stroke: 1px var(--label-stroke-color);
  }
}