/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --main-font-family: Inter-Variable, sans-serif;
    --fantasy-font-family: "Press Start 2P", fantasy;
    --heart-color: #ff0000;
    --title-font-weight-lihgt: 700;
    --text-font-weight-lihgt: 400;
    --title-font-weight-dark: 785;
    --text-font-weight-dark: 465;
  }